<div>
    <BsTab as |tab|>
        <tab.pane @title='Login'>
            <LoginInput />
        </tab.pane>
        <tab.pane @title='Sign up'>
            <SignupInput />
        </tab.pane>
    </BsTab>
</div>